<%= form_with(model: professional) do |form| %>
  <% if professional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(professional.errors.count, "error") %> Este profesional no puede ser guardado:</h2>

      <ul>
        <% professional.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Nombre" %><br>
    <%= form.text_field :name, :maxlength => 30, type: "text" %>
  </div>

  <div class="field">
    <%= form.label :surname, "Apellido" %><br>
    <%= form.text_field :surname, :maxlength => 30 %>
  </div>

  <div class="actions">
    <%= form.submit "Aceptar", class:"btn btn-info btn-sm" %>
  </div>
<% end %>
