<p id="notice"><%= notice %></p>
<h2>Profesionales</h2>

<table>
  <thead>
    <tr>
      <th>Apellido</th>
      <th>Nombre</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @professionals.each do |professional| %>
      <tr>
        <td><%= professional.surname %></td>
        <td><%= professional.name %></td>
        <td><%= link_to 'Ver', professional, class:"btn btn-outline-info btn-sm" %></td>   
        <td><%= link_to 'Ver turnos', professional_appointments_path(professional), class:"btn btn-outline-info btn-sm" %></td>
        <% if can? :update, @professional %>
        <td><%= link_to 'Editar', edit_professional_path(professional), class:"btn btn-outline-info btn-sm" %></td>
        <%end%>
        <% if can? :delete, @professional %>
        <td><%= link_to 'Borrar', professional, method: :delete, data: { confirm: '¿Estas seguro de borrar a este profesional?' }, class:"btn btn-outline-info btn-sm" %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="pagination-wrapper">
   <div class="pagination">
      <%= will_paginate @professionals, :previous_label => "« Anterior", :next_label => "Siguiente »" %>
   </div>
</div>
<br>
<% if can? :create, Professional %>
<%= link_to 'Crear profesional', new_professional_path, class: "btn btn-link", class:"btn btn-info btn-sm" %>
<% end %>
<%= render "appointments/g", professional: nil %>
