<p id="notice"><%= notice %></p>
<h2>Datos del profesional<h2>
<h5>
  <strong>Nombre:</strong>
  <%= @professional.name %>
</h5>

<h5>
  <strong>Apellido:</strong>
  <%= @professional.surname %>
</h5>

<%= link_to 'Editar', edit_professional_path(@professional) %> |
<%= link_to 'Volver', professionals_path %> |
<%= link_to 'Turnos', professional_appointments_path(:professional_id => @professional.id) %>
