<p id="notice"><%= notice %></p>

<h2>
  <strong>Apellido:</strong>
  <%= @professional.surname %>
</h2>
<br>
<h2>
  <strong>Nombre:</strong>
  <%= @professional.name %>
</h2>
<br>
 <% if can? :update, @professional %>
<%= link_to 'Editar', edit_professional_path(@professional), class:"btn btn-info btn-sm" %> |
 <% end %>
<%= link_to 'Volver', :back, class:"btn btn-info btn-sm" %>
