<p id="notice"><%= notice %></p>
<h2>Usuarios</h2>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Rol<th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.rol.name %></td>
        <% if user.rol.name == "Consulta"%>
          <td><%= link_to 'Asistencia', user_attendance_path(:id => user.id), method: :put, data: { confirm: '¿Estas seguro de pasar a este usuario a Asistencia?' }, class:"btn btn-outline-info btn-sm" %></td>
        <% else %>
          <td><%= link_to 'Consulta', user_consultation_path(:id => user.id), method: :put, data: { confirm: '¿Estas seguro de pasar a este usuario a Consulta?' }, class:"btn btn-outline-info btn-sm" %></td>
        <% end %>
        <td><%= link_to 'Administración', user_admin_path(:id => user.id), method: :put, data: { confirm: '¿Estas seguro de pasar a este usuario a Administración?' }, class:"btn btn-outline-info btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="pagination-wrapper">
   <div class="pagination">
      <%= will_paginate @users, :previous_label => "« Anterior", :next_label => "Siguiente »" %>
   </div>
</div>