<p id="notice"><%= notice %></p>

<h2>Turnos de <%= @professional.surname_and_name%> </h2>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.date_format %></td>
        <td><%= appointment.name %></td>
        <td><%= appointment.surname %></td>
        <td><%= link_to 'Profesional', appointment.professional %></td>
        <td><%= link_to 'Ver', professional_appointment_path(@professional, appointment) %></td>
        <% if can? :update, appointment %>
        <td><%= link_to 'Editar', edit_professional_appointment_path(@professional, appointment) %></td>
        <%end%>
        <% if can? :destroy, appointment %>
        <td><%= link_to 'Cancelar', professional_appointment_path(@professional, appointment), method: :delete, data: { confirm: '¿Estas seguro de cancelar este turno?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="pagination-wrapper">
   <div class="pagination">
     <%= will_paginate @appointments, :previous_label => "« Anterior", :next_label => "Siguiente »" %>
   </div>
</div>
<br>
<% if can? :create, Appointment %>
<%= link_to 'Crear un turno',new_professional_appointment_path(@professional) %> |
<% end %>
<% if can? :delete, Appointment %>
<td><%= link_to 'Cancelar todos los turnos', destroy_all_professional_appointments_path(@professional), method: :delete, data: { confirm: '¿Estas seguro de cancelar todos los turnos?' } %></td>
<% end %>