<div align = "center">
  <%if professional.nil?%>
    <h2>Turnos del <%= "#{date.strftime("%F")} al #{(date_fin).strftime("%F")}" %> </h2>
  <%else%>
    <h2>Turnos de <%= "#{professional.surname_and_name} del #{date.strftime("%F")} al #{(date_fin).strftime("%F")}"%></h2>      
  <%end%>
  <table>
    <thead>
      <tr>
        <th>Hora</th>
          <%if professional.nil?%>
            <th>Profesional</th>
          <%end%>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miercoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
        <th>Sabado</th>
        <th>Domingo</th>
        </tr>
     </thead>
     <tbody>
       <% d=date %>
       <% while !(d.hour == 21) || !(d.min == 30)
          professionals.each do |prof| %>
            <tr>
              <td><%= d.strftime("%R")%></td>
              <%if professional.nil?%>
                <td><%= prof.surname_and_name %></td>
              <%end%>
              <td><%=prof.appointment(d)%></td>
              <td><%=prof.appointment(d + 1)%></td>
              <td><%=prof.appointment(d + 2)%></td>
              <td><%=prof.appointment(d + 3)%></td>
              <td><%=prof.appointment(d + 4)%></td>
              <td><%=prof.appointment(d + 5)%></td>
              <td><%=prof.appointment(d + 6)%></td>
            </tr>
          <%end
          d = d + (30/1440.0) %>
       <%end%>
      </tbody>
  </table>
</div>
<style type="text/css">
  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
  }
  td, th {
    border: 1px solid rgba(221, 221, 221, 0.753);
    padding: 8px;
    text-align: center;
  }
  tr:nth-child(even){background-color: #f2f2f2d0;}
  tr:hover {background-color: #ddd;}
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2e6ab1;
    color: white;
    text-align: center;
  }
</style>